<h1>Atualização de preço</h1>

<% if @beverage.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @beverage.errors.full_messages.each do |msg|%>
     <li>
        <%= msg %>
     </li>
     <% end %>
  </ul>
<% end %>

<%= form_with(url: update_offer_beverage_path(@beverage.id, @offer.id)) do |f| %>
  <div>
    <%= f.label :name, 'Nome do volume' %>
    <%= f.text_field :name, name: 'format[name]', value: @offer.format.name, readonly: true %>
  </div>
  <div>
    <%= f.label :details, 'Detalhes do volume' %>
    <%= f.text_field :details, name: 'offer[details]' %>
  </div>
   <div>
    <%= f.label :price, 'Preço do volume' %>
    <%= f.number_field :price, name: 'offer[price]' %>
  </div>
  <%= f.submit 'Salvar' %>
<% end %>