<h2 class='title'>Cadastro de novo usuário</h2>

<div class='form-edit'>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="field mb-3">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name %>
    </div>
  
    <div class="field mb-3">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </div>
  
    <div class="field mb-3">
      <%= f.label :cpf %><br />
      <%= f.text_field :cpf %>
    </div>
  
    <div class="field mb-3">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  
    <div class="field mb-3">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(Mínimo de <%= @minimum_password_length %> caracteres)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
  
    <div class="field mb-3">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  
    <div class="actions mb-3">
      <%= f.submit "Cadastrar", class: 'btn btn-primary' %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
</div>
