<h1 class='title'>Exbindo resultados da pesquisa<h1>
<p class='title'>    
  <%= @count %> 
  <%= I18n.translate(:result, count: @count)%> 
  <%= I18n.translate(:found, count: @count)%>
</p>
<div class="card-container">
  <% if @beverages.present? %>
    <% @beverages.each do |beverage| %>
      <div class='card-search mb-3'>
        <%= render 'shared/beverage', beverage: beverage %>
        <%= link_to 'Editar bebida', 
                    edit_establishment_beverage_path(
                      current_user.establishment.id, beverage
                    ), 
                    class: 'btn btn-warning' %>
      </div>
    <% end %>
  <% end%>

  <% if @dishes.present? %>
    <% @dishes.each do |dish| %>
      <div class='card-search mb-3'>
        <%= render 'shared/dish', dish: dish %>
        <%= link_to 'Editar prato', 
                    edit_establishment_dish_path(
                      current_user.establishment.id, dish.id
                    ), 
                    class: 'btn btn-warning' %>
      </div>
    <% end %>
  <% end%>
</div>