<h1>Sistema de gerenciamento de estabelecimento</h1>
<div>
  <h2>Dados do estabelecimento</h2>
  <dl>
    <dt><%= Establishment.human_attribute_name(:trade_name) %>:</dt>
    <dd><%= @establishment.trade_name %></dd>
    <dt><%= Establishment.human_attribute_name(:legal_name) %>:</dt>
    <dd><%= @establishment.legal_name %></dd>
    <dt><%= Establishment.human_attribute_name(:cnpj) %>:</dt>
    <dd><%= @establishment.cnpj %></dd>
    <dt><%= Establishment.human_attribute_name(:phone_number) %>:</dt>
    <dd><%= @establishment.phone_number %></dd>
    <dt><%= Establishment.human_attribute_name(:email) %>:</dt>
    <dd><%= @establishment.email %></dd>
    <dt><%= Establishment.human_attribute_name(:code) %>:</dt>
    <dd><%= @establishment.code %></dd>
    <dt><%= Establishment.human_attribute_name(:address) %>:</dt>
    <dd><%= @establishment.address %></dd>
</div>
<%= link_to 'Cadastrar novo prato', new_establishment_dish_path(@establishment.id) %>
<div>
  <h2><%= Establishment.human_attribute_name(:operating_hours) %><h2>
  <dl>
    <% @establishment.operating_hours.each do |day| %>
      <% if day.is_closed == true %>
        <dt><%= I18n.t(day.week_day) %>:</dt>
        <dt>Fechado</dt>
      <% else %>
        <dt><%= I18n.t(day.week_day) %>:</dt>
        <dt><%= day.start_time.strftime("%H:%M") %> - <%= day.end_time.strftime("%H:%M") %> </dt>
      <% end %>
    <% end %>
  </dl>
</div>

<%= link_to 'Editar informações', edit_establishment_path(@establishment.id) %>