<h1 class="title">Visualizar Pedido</h1>

<% if @portions.any? %>
  <div class="order-preview mt-5 w-100">
    <ul>
      <% @portions.each do |item| %>
        <li class='mb-5 w-100'>
          <%= item[:portion].format.name %> - <%= item[:portion].item.name %> -
          <%= number_to_currency(item[:portion].price, unit: 'R$', separator: ',', precision: 2) %> -
          Observação: <%= item[:observation] %> 
          <div class='btn-center'>
            <%= button_to 'Remover',
                          remove_item_to_order_orders_path(item[:portion].id),
                          class: 'btn btn-danger' %>
          </div>
        </li>
      <% end %>
      <p class="title mt-3">
        <strong>Valor Total:</strong> <spam class="active value-total"> 
          <%= number_to_currency(@total, unit: 'R$', separator: ',', precision: 2)%> </spam>
      <p>
    </ul>
    <div>
      <%= link_to 'Finalizar Pedido', new_order_path, class: 'btn btn-success' %>
    <div>
  </div>
<% else %>
  <p class="title">Nenhum item foi adicionado ao pedido ainda.</p>
<% end %>

<div class='d-flex justify-content-center mb-3 mt-4 gap-2'>
  <%= link_to 'Continuar adicionando itens', root_path, class: 'btn btn-secondary' %>
</div>
