<h1>Visualizar Pedido</h1>

<% if @portions.any? %>
  <ul>
    <% @portions.each do |item| %>
      <li>
        <%= item[:portion].format.name %> - <%= item[:portion].item.name %> -
        <%= number_to_currency(item[:portion].price, unit: 'R$', separator: ',', precision: 2) %> - 
        Observação: <%= item[:observation] %>
      </li>
    <% end %>
    <p>Valor Total: <%= number_to_currency(@total, unit: 'R$', separator: ',', precision: 2) %><p>
  </ul>
<% else %>
  <p>Nenhum item foi adicionado ao pedido ainda.</p>
<% end %>

<%= link_to 'Finalizar Pedido', new_order_path, class: 'btn btn-primary' %>
<%= link_to 'Continuar adicionando itens', root_path, class: 'btn btn-secondary' %>
