 <h1>Pedido</h1>

 
<div>
  <div>
    <h3>Dados do cliente<h3>
    <% if @order.customer.name.present? %>
      <div class='field-value'>
        <dt><%= Customer.human_attribute_name(:name) %>:</dt>
        <dd><%= @order.customer.name %></dd>
      </div>
    <% end %>

    <% if @order.customer.phone_number.present? %>
      <div class='field-value'>
        <dt><%= Customer.human_attribute_name(:phone_number) %>:</dt>
        <dd><%= @order.customer.phone_number %></dd>
      </div>
    <% end %>

    <% if @order.customer.email.present? %>
      <div class='field-value'>
        <dt><%= Customer.human_attribute_name(:email) %>:</dt>
        <dd><%= @order.customer.email %></dd>
      </div>
    <% end %>

    <% if @order.customer.cpf.present? %>
      <div class='field-value'>
        <dt><%= Customer.human_attribute_name(:cpf) %>:</dt>
        <dd><%= @order.customer.cpf %></dd>
      </div>
    <% end %>
  </div>
  <div>
    <% total = @order.order_items.reduce(0) { |acc, curr|  acc + curr.offer.price } %>
    <% @order.order_items.each do |item| %>
      <div class='field-value'>
        <dt>Nome do prato:</dt>
        <dd><%= item.offer.item.name %></dd>
      </div>
      <div>
        <dt>Pedido:</dt>
        <dd><%= item.offer.format.name %> - <%= number_to_currency(item.offer.price, unit: "R$", separator: ",", precision: 2) %></dd>
      </div>
    <% end %>
  </div>
  <div>
    <div class='field-value'>
      <dt><%= Order.human_attribute_name(:status) %>:</dt>
      <dd><%= I18n.t("activerecord.enums.order.status.#{@order.status}") %></dd>
    </div>
    <div class='field-value'>
      <dt>Total:</dt>
      <dd><%= number_to_currency(total, unit: "R$", separator: ",", precision: 2) %></dd>
    </div>
  </div>
  <%= button_to 'Marcar como Cancelado', canceled_order_path(@order.id) if @order.status != "delivered" && @order.status != "canceled"%>
  <%= button_to 'Marcar como ENTREGUE', delivered_order_path(@order.id) if @order.status == "ready"%>
  <%= button_to 'Marcar como EM PREPARO', in_preparation_order_path(@order.id) if @order.status == "pending_kitchen_confirmation"%>
  <%= button_to 'Marcar como PRONTO PARA ENTREGA', ready_order_path(@order.id) if @order.status == "in_preparation"%>
</div>