<h1>Menu de pratos</h1>

<% @dishes.each do |dish| %>
  <dl>
    <dt><%= Dish.human_attribute_name(:name) %>:</dt>
    <dd><%= dish.name %></dd>
    <dt><%= Dish.human_attribute_name(:description) %>:</dt>
    <dd><%= dish.description %></dd>
    <%= link_to 'Ver detalhes', 
      establishment_dish_path(current_user.establishment.id, dish.id) %>
  </dl>
<% end %>