<h1 class='title'>Cadastro de porção de <%= @dish.name%></h1>

<% if @format.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @format.errors.full_messages.each do |msg|%>
     <li>
        <%= msg %>
     </li>
     <% end %>
  </ul>
<% end %>

<% if @dish.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @dish.errors.full_messages.each do |msg|%>
     <li>
        <%= msg %>
     </li>
     <% end %>
  </ul>
<% end %>

<%= form_with(url: offer_dish_path(@dish.id), class: 'form-edit') do |f| %>
  <div class='mb-3 mt-5'>
    <%= f.label :name, 'Nome da porção', class: 'form-label'  %>
    <%= f.text_field :name, name: 'format[name]', class: 'form-control', placeholder: 'Porção grande'  %>
  </div>
  <div class='mb-3'>
    <%= f.label :details, 'Detalhes da porção', class: 'form-label'  %>
    <%= f.text_field :details, name: 'offer[details]', class: 'form-control', placeholder: 'Serve x pessoas'  %>
  </div>
   <div class='mb-3'>
    <%= f.label :price, 'Preço da porção', class: 'form-label'  %>
    <%= f.number_field :price, name: 'offer[price]', class: 'form-control'  %>
  </div>
  <%= f.submit 'Salvar', class:'btn btn-primary' %>
<% end %>