<div class='card-single'>
  <dl class="card card-new" style="width: 18rem;">
    <%= image_tag url_for(@dish.image), class: 'card-img-top' if @dish.image.attached? %>
    <div class="card-body">
      <div class='field-value'>
        <dt><%= Dish.human_attribute_name(:name) %>:</dt>
        <dd><%= @dish.name %></dd>
      </div>
      <div class='field-value'>
        <dt><%= Dish.human_attribute_name(:description) %>:</dt>
        <dd><%= @dish.description %></dd>
      </div>
      <div class='field-value'>
        <dt><%= Dish.human_attribute_name(:calories) %>:</dt>
        <dd><%= @dish.calories.present? ? @dish.calories : 'Não informada' %></dd>
      </div>
      <div class='field-value'>
        <dt><%= Dish.human_attribute_name(:status) %>:</dt>
        <dd><%= @dish.status ? 'Ativo' : 'Inativo' %></dd>
      </div>
      <div class='btn-center'>
        <%= link_to 'Cadastrar porção',
          offer_establishment_dish_path(current_user.establishment.id, @dish.id), class: 'btn btn-light' %>
        <%= button_to 'Desativar Prato', deactivate_establishment_dish_path(@dish.establishment, @dish.id) if @dish.status %>
        <%= button_to 'Ativar Prato', activate_establishment_dish_path(@dish.establishment, @dish.id) unless @dish.status %>
        <%= link_to 'Editar prato',
          edit_establishment_dish_path(current_user.establishment.id, @dish.id), class: 'btn btn-light' %>
        <%= button_to 'Excluir prato', establishment_dish_path(current_user.establishment.id, @dish.id),
              data: { turbo_confirm: 'Tem certeza que deseja apagar o registro desse prato?' }, method: :delete, class: 'btn btn-danger'  %>
      </div>
    </div>
  </dl>
</div>
