<%= form_with(model: @establishment) do |f| %>
  <div>
    <%= f.label :trade_name %>
    <%= f.text_field :trade_name %>
  </div>

  <div>
    <%= f.label :legal_name %>
    <%= f.text_field :legal_name %>
  </div>

   <div>
    <%= f.label :cnpj %>
    <%= f.text_field :cnpj %>
  </div>

  <div>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div>
    <h2>Horário de funcionamento</h2>
    <%= f.fields_for :operating_hours do |oh| %>
      <%= oh.label :week_day, I18n.t(oh.object.week_day) %>
      <%= oh.hidden_field :week_day %>

      <%= oh.label :start_time, "Início" %>
      <%= oh.time_field :start_time %>

      <%= oh.label :end_time, "Término" %>
      <%= oh.time_field :end_time %>

      <%= oh.label :is_closed %>
      <%= oh.check_box :is_closed, class: oh.object.week_day %>
    <% end %>
  </div>

  <%= f.submit 'Cadastrar'%>
<% end %>