<!DOCTYPE html>
<html>
  <head>
    <title>Paleva</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <% if current_user.establishment.present? && current_user.establishment.id.present? %>
          <%= link_to 'Meus Pratos', establishment_dishes_path(current_user.establishment.id) %>
        <% end %>   
        <h2><%= current_user.description %></h2>
        <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
      <% end %>   
    </header>
    <main>
      <div>
        <%= notice %>
        <%= alert %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
